.input {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: solid 2px #222;
  border-radius: 4px;
  padding: 20px;
  background: var(--secondary);
  height: 40px;
}
.input__container {
  display: grid;
  grid-template-rows: 50px 50px 50px auto;
  gap: 20px;
  overflow: scroll;
  padding: 20px;
}
.input__header {
  margin: 0;
}
.input__arrow {
  width: 25px;
}
.input__button--dropdown {
  display: flex;
  justify-content: center;
  padding: 0;
  background: transparent;
  border: solid 2px transparent;
  width: 30px;
}
