.navigation {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  background: var(--border);
}

.navigation__link {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--primary);
  color: var(--text);
  text-decoration: none;
  font-size: 1.4em;
  border: solid var(--border);
  border-width: 2px 1px 0px;
  border-radius: 4px;
}

.navigation__link--active {
  background: var(--tertiary);
}
